@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

header h1 {
    margin-left: 50px;
    margin-top: 50px;
}

main{
    width: 100%;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container {
    background-color: #afafaf;
    width: 80%;
    padding: 20px;
    margin-bottom: 15px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
}

.text {
    width: 80%;
}

.action {
    display: flex;
    justify-content: center;

}

button {
    padding: 10px;
    background-color: #7111d2;
    color: #ffffff;
    outline: none;
    border-radius: 5px;
    border: none;
    font-weight: 500;
    font-size: 20px;
    margin: 10px;
    transition: 0.3s;
    cursor: pointer;
}

button:hover {
    background-color: #a444f5;
}

.apiCOntainer {
    margin: 20px 0;
    width: 80%;
    padding: 20px;
    max-height: 50%;    
    background-color: #555;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
}

.handleApi {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

select {
    background-color: #0084ff;
    padding: 10px 20px;
    margin-right: 20px;
    border-radius: 5px;
    border-radius: 2px;
    outline: none;
    border: none;
}

.select select {
    padding: 5px 10px; 
    background-color: #00eafffc;
    border-radius: 2px;
    outline: none;
    border: none;
}

select option {
    background-color: #00bacbfc;
}

.do-somthing button{
    padding: 5px 10px;
    background-color: #0084ff;
    font-weight: 400;
    font-size: 16px;
    border-radius: 0;
}

#submit {
    padding: 5px 10px;
    background-color: #0084ff;
    font-weight: 400;
    font-size: 16px;
    border-radius: 0;
}

.password {
    padding: 20px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.change-password {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-right: 20px;
}

.change-password input{
    outline: none;
    border: none;
    background-color: #329cff;
    color: #111;
    border-radius: 4px;
    padding: 5px 10px;
    max-width: 300px;
    margin: 10px 0;
    cursor: pointer;
    transition: 0.3s;
}

.price {
    margin: 20px 0;
    width: 80%;
    padding: 20px;
    max-height: 50%;    
    background-color: #555;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    color: #eee;
}

.points {
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.points button{
    padding: 5px 10px;
    background-color: #0084ff;
    font-weight: 400;
    font-size: 16px;
    border-radius: 0;
}

@media only screen and (max-width: 450px){
    button{
        font-size: 16px;
        padding: 5px;
    }
}
